@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@300&display=swap");
/* Reset and base styles  */
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  margin: 0px;
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(220deg, #cacb85, #ffffff);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  row-gap: 20px;
  font-family: "Caveat", cursive;
  -webkit-transition: -webkit-animation 0.3s ease-in;
  transition: -webkit-animation 0.3s ease-in;
  transition: animation 0.3s ease-in;
  transition: animation 0.3s ease-in, -webkit-animation 0.3s ease-in;
  -webkit-animation: bodyAnim 5s infinite ease-in;
          animation: bodyAnim 5s infinite ease-in;
}
body::-webkit-scrollbar {
  width: 0;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 5px black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  border: 1px dotted lightblue;
}

a:focus,
a:active {
  border: 1px dotted lightblue;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  max-width: 250px;
  height: 230px;
  margin: 0 auto 0 20px;
  row-gap: 9px;
  opacity: 0;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}
.header div:nth-child(1) {
  font-family: "Montserrat", sans-serif;
}
.header div:nth-child(2) {
  font-size: 29px;
  font-family: "Caveat", cursive;
  text-transform: uppercase;
}

.moveHeader {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 20px;
  min-height: 250px;
}
.main .content .content__hosts {
  margin-top: 20px;
}

.content {
  opacity: 0;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}
.content h1 {
  line-height: 2.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.content address {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 30px;
  opacity: 0;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.moveElem {
  opacity: 1 !important;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.frames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.frames img {
  display: block;
  position: absolute;
}
.frames img:nth-child(1) {
  top: 0;
  left: 0;
  z-index: 5;
}
.frames img:nth-child(2) {
  bottom: 0;
  right: 0;
  z-index: 6;
}

.footer {
  margin: 0 auto 60px 20px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
