@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@300&display=swap");
/* Reset and base styles  */
body * {
  //   border: 1px solid red;
  text-shadow: 1px 1px 5px black;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // row-gap: 10px;
  padding: 0px;
  margin: 0px;
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(220deg, #cacb85, #ffffff);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  row-gap: 20px;
  font-family: "Caveat", cursive;
  transition: animation 0.3s ease-in;
  animation: bodyAnim 5s infinite ease-in;

  &::-webkit-scrollbar {
    width: 0;
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  border: 1px dotted lightblue;
}

a:focus,
a:active {
  border: 1px dotted lightblue;
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
