.main {
  display: flex;
  margin: 0 auto 0 20px;
  min-height: 250px;

  .content {
    & .content__hosts {
      margin-top: 20px;
    }
  }
}
.content {
  opacity: 0;
  transition: transform 1s ease-in;
  transform: translateX(-200%);

  & h1 {
    line-height: 2.2;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  address {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 30px;
    opacity: 0;
    transition: transform 1s ease-in;
    transform: translateX(-200%);
  }
}
.moveElem {
  opacity: 1 !important;
  transform: translateX(0%) !important;
}
